    #suelolunar{
        position: fixed;
		bottom: 0px;
		width: 100%;
    }
    #myimage{
        display: block;
        position: relative;
        margin: auto;
		width: 100%;
   }
     #nave{
		position: absolute;
		top: 5%;
		width: 20%;
		right: 50%;
		left: 40%;
	 }   
	 #ajustesiconoajustes{
		 position: fixed;
		 right:0px;
		 top: 30px;
		 width: fixed;
		 height: fixed;
	 }
	 #ajustesiconoaltavoz{
		 position: fixed;
		 right: 0px;
		 top: 120px;
		 width: fixed;
		 height: fixed;
	 }
	 #ajustesiconopause{
		 position: fixed;
		 right: 0px;
		 top: 190px;
		 width: fixed;
		 height: fixed;
	 }
	 #menu-juego{
	 background: transparent;
	 width: 100px;
	 height: 100px;
	 font-size: 30px;
	 font-style: bold;
	 }
	 #menu-informacion{
	 background: transparent;
	 width: 800px;
	 height: 320px;
	 font-size:250%;
	 }
	 #texto{
	 color: white;
	 width: 200px;
	 }
	 #volver{
	 position: fixed;
	 bottom: 0px;
	 left: 0px;
	 width: 120px;
	 height: 250px;
	 }
	 #about{
		 background: transparent;
		 position: fixed;
		 bottom: 0px;
		 left: 20px;
	 }
	 #textoabout{
		 color: green;
		 font-size: 200%;
	 }
	 #menu-informacion-grande{
	 background: transparent;
	 width: 300px;
	 height: 300px;
	 font-size: 40px;
	 font-style: bold;
	 }
	 #textopeque{
	 color: white;
	 width: 1000px;
	 }
	 #textotitulo{
	 color: white;
	 width: 500px;
	 }
	 #fuel{
	 }
	 #velocidad{
	 }
	 #altura{
	 }