    #suelolunar{
        position: absolute;
		bottom: 0px;
		width: 100%;
    }
    #myimage{
        display: block;
        position: relative;
        margin: auto;
		width: 100%;
   }
     #nave{
		position: absolute;
		top: 5%;
		width: 50%;
		right: 50%;
		left: 25%;
	 }   
	 #ajustesiconoajustes{
		 position: fixed;
		 right:0px;
		 width: 25%;
		 height: fixed;
	 }
	 #ajustesiconoaltavoz{
		 position: fixed;
		 right: 0px;
		 top: 19%;
		 width: 25%;
		 height: fixed;
	 }
	 #ajustesiconopause{
		 position: fixed;
		 right: 0px;
		 top: 30%;
		 width: 25%;
		 height: fixed;
	 }
	 #menu-juego{
	 background: transparent;
	 width: 100px;
	 height: 100px;
	 font-size: 50px;
	 font-style: bold;
	 }
	 #menu-informacion{
	 background: transparent;
	 width: 800px;
	 height: 320px;
	 font-size:500%;
	 }
	 	 #texto{
	 color: white;
	 }
	 	 #volver{
	 position: absolute;
	 bottom: 0px;
	 width: 320px;
	 height: 250px;
	 left: 0px;
	 }
	 	 #about{
		 background: transparent;
		 position: fixed;
		 bottom: 0px;
		 left: 20px;
	 }
	 #textoabout2{
		 color: green;
		 font-size: 500%;
	 }